	body {
		margin: 0;
		background-color: #113d5b;
	}

	* {
		box-sizing: border-box;
	}

	.menuBar {
		width: 100%;
		margin: 0 auto;
		position: fixed;
	}

	.menus {
		width: 100%;
		display: inline-block;
		text-align: center;
		padding: 0px 100px 0px 100px;
		background-color: rgba(0,0,0,0.05);
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		-moz-transition: 0.5s;
	}

	.menusDown {
		background-color: rgba(255,255,255,0.9) !important;
	}

	.shaastraLogo {
		display: inline-block;
		height: 50px;
		width: auto;
		vertical-align: middle;
		padding: 15px 0px 15px 0px;
		margin: 0px 150px 0px 0px;
		cursor: pointer;
	}

	#shaastraLogoBlack {
		display: none;
	}

	.menu {
		display: inline-block;
		text-align: center;
		padding: 15px 20px 15px 20px; /* 20px is just padding left-right, 15px is so that 15+15+20(height)=50 which is the height of div*/
		text-transform: uppercase;
		font-family: Arial;
		color: rgb(255,255,255); /* text color in shaastra logo */
		text-decoration: none;
		font-weight: 600;
		font-size: 14px;
		cursor: pointer;
		height: 50px; /*Equal to height of the div*/
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		-moz-transition: 0.5s;
	}

	.menuDown {
		color: rgb(17,61,91) !important;
	}

	.menu:hover {
		color: rgb(17,61,91);
		transition: 0s;
	}

	.menuDown:hover {
		color: rgb(0,0,0);
	}

	.ddElement {
		display: inline;
		font-family: Arial;
		color: rgb(17,61,91);
		padding: 15px 40px 15px 40px; /* same as #113d5b but a bit transparent */
		font-size: 14px;
		text-transform: uppercase;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		-moz-transition: 0.5s;
	}

	.ddElementDown {
		color: rgb(255,255,255) !important;
	}

	.dropDownMenu {
		background-color: rgba(255,255,255,0.8); 
		padding: 15px 0px 15px 0px;	/*random*/
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		-moz-transition: 0.5s;
	}

	.dropDownMenuDown {
		background-color: rgba(17,61,91,0.9) !important;
	}

	.imgOpen {
		width: 100%;
		height: auto;
	}

	.contentOdd, .contentEven {
		width: 80%;
		margin: auto;
		height: 500px;
	}

	.contentOdd {
		background-color: #e44324; /*Color of even numbered content box*/
		color: #d5e2db;
	}

	.contentEven {
		background-color: #d5e2db; /*Color of odd numbered content box*/
		color: #e44324;
	}
